@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>AngDashboard</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <app-root></app-root>
    <script src="/Ang-Dashboard/dist/Ang-Dashboard/runtime.js" type="module"></script>
    <script src="/Ang-Dashboard/dist/Ang-Dashboard/polyfills.js" type="module"></script>
    <script src="/Ang-Dashboard/dist/Ang-Dashboard/styles.js" type="module"></script>
    <script src="/Ang-Dashboard/dist/Ang-Dashboard/vendor.js" type="module"></script>
    <script src="/Ang-Dashboard/dist/Ang-Dashboard/main.js" type="module"></script>
</body>
</html>

